.border_color {
    border-bottom: 2px solid #17594a !important;
    color: #17594a !important;
}

#login #login-tab,
#login #register-tab {
    display: inline-block;
}

#login .card {
    border: none;
}

#login .card-body {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

#login {
    border-radius: 5px;
    padding: 10px 20px;
}

#login ul {
    padding-top: 15px;
    border-bottom: 1px solid #ada1a1;
}

#login label {
    font-size: 13px;
}

#login input {
    margin: 15px 0px;
    width: 100%;
    padding: 10px 0px 0px 0px;
    font-size: 13px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
}

#login button {
    margin-top: 15px;
}

.hidden {
    display: none;
}

.d-block {
    display: block;
}

body {
    position: relative;
}

.mainMenu__childItem {
    display: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.wp {
    max-height: 56px;
    background-color: rgb(0, 0, 0, 0.1);
}

.wp:hover {
    background-color: rgb(0, 0, 0, 0.3);
}

ul .mainMenu__columns.activee ul {
    display: block;
}

.mainMenu__childItem {
    padding: 15px;
    color: #333;
    width: 200px;
    border-right: 1px solid #d6c0c0;
}

ul .mainMenu__columns {
    padding: 15px 15px;
    position: relative;
    color: #fff;
}

ul .mainMenu__columns ul li a {
    color: #333;
}

ul .mainMenu__columns ul li {
    padding: 5px 0px;
}

nav.childnav {
    display: flex;
    position: absolute;
    background-color: rgb(246, 249, 251);
    top: 56px;
    left: 0px;
}

#header {
    background-image: url('https://d1hjkbq40fs2x4.cloudfront.net/2017-08-21/files/landscape-photography_1645.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#login {
    background-color: #fff;
}

.menu_title {
    font-size: 13px;
    color: rgb(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

.color_orage {
    background-color: #213363;
}

nav.wp {
    position: relative;
    width: 100%;
    top: 0;
    position: fixed;
}

#form_langue {
    position: absolute;
    right: 15px;
    width: 300px;
    background-color: #fff;
    top: 56px;
}

label a {
    display: inline-block;
    padding: 10px 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.text-red {
    font-size: 14px;
    font-style: italic;
    color: red;
}

#input {
    padding: 15px;
}